.rounded-card {
  border-radius: 10px;
}

/*Knoxville image*/
.image-circle {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  overflow: hidden;
  /* border: 1px solid #b8babb; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -15px; */
  /* margin-bottom: 20px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.img-knoxville {
  width: auto;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 990px) {
  .apply-padding {
    padding-right: 15px !important;
  }
}

@media (max-width: 768px) {
  .image-circle {
    width: 200px;
    /* Larger size for smaller screens */
    height: 200px;
  }

}

/* widget and chart styling*/
.widget {
  min-height: 200px;
  border-radius: 10px;
  padding: 15px;
  background: white;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  color: #606060 !important;
   -webkit-text-fill-color: #606060;
    -webkit-text-stroke-color: #606060;
  /* background: linear-gradient(45deg, white 0%, #1C5D99 100%); */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-bottom: 15px; */
  /* padding-bottom: 15px; */
  /* border-bottom: 1px solid rgba(96, 96, 96, 0.5); */
}

.new-box-shadow {
  /* Boxshadow for panel from XD2 */
  box-shadow: 0.5px 0.4px 16.7px -15px rgba(0, 0, 0, 0.012),
    1px 0.8px 20.1px -15px rgba(0, 0, 0, 0.017),
    1.7px 1.4px 21.4px -15px rgba(0, 0, 0, 0.02),
    2.6px 2.1px 21.8px -15px rgba(0, 0, 0, 0.023),
    3.8px 3px 21.8px -15px rgba(0, 0, 0, 0.025),
    5.3px 4.3px 21.5px -15px rgba(0, 0, 0, 0.028),
    7.5px 6px 21.3px -15px rgba(0, 0, 0, 0.032),
    11px 8.8px 21.5px -15px rgba(0, 0, 0, 0.036),
    16.9px 13.5px 22.8px -15px rgba(0, 0, 0, 0.043),
    30px 24px 29px -15px rgba(0, 0, 0, 0.06);
}

.neumorphic-outset {
  background: linear-gradient(145deg, #efeeee, #ffffff);
  box-shadow: 4px 4px 8px #d1d9e6, -4px -4px 8px #ffffff;
}

/* Sidebard styling */

.sidebar-profile-section .profile-details div ul li a {
  /* border: 1px solid red; */
  box-shadow: 4px 4px 8px #1C5D99, -4px -4px 8px #003b71;
}

.sidebar-profile-section .profile-details div ul li a:hover {
  /* border: 1px solid red; */
  box-shadow: inset 4px 4px 8px #1C5D99, inset -4px -4px 8px #003b71;
}

#sidebar-nav ul li:hover a {
  color: white;
}

#sidebar-nav ul li {
  transition: 0.2s ease-in, 0.5s ease-out 0.1s !important;
}

#sidebar-nav ul li:hover {
  /*selectable styles*/
  z-index: 999;
  box-shadow: -3px 8px 25px #1C5D99 !important;
  transform: translateY(-3px) !important;
}

/*Footer Styling*/
.footertitle {
  font-size: 0.85rem;
}

.footerStyle {
  padding: 0px;
}

.card-block {
  font-size: 0.85rem;
}