/* First Design */
.main-container-jobs {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.result-action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-date-box{
  max-height: 200px;
  max-width: 120px;
  padding: 4px;
}
.result-item{
  padding: 20px;
}
.rs-week {
  margin-top: 5px; 
        color: black;
}

.white-bg{
  background-color: white;
}

/*Second design */
.date-time-section {
  background-color: WHITE;
  padding: 13px;
  margin-right: 5px; 
  border: 1px solid #e1e1e1;
  
}

.date-time-section {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100%; 

}

.calendar-box {
  margin-bottom: 20px; 
  width: 8rem;
  border-radius:20px;
  border: 1px solid rgb(238, 234, 234);

}
.card-admin span {
  color: #002957;         
  font-size: 0.8em;      
  font-weight: bold;     
  text-transform: uppercase; 
  /* display: block; */
  margin-right: 5px;    
}
.timing-employer-container{
/* background-color: #f2f2f2; */
margin: auto;

}

.rs-month-new, .rs-day-new, .rs-year-new, .rs-week-new {
  display: block;
  text-align: center;
  color:#30814c;/*XD2 text color*/ 

}

.rs-month-new {
  font-size: 1.2rem;
  font-weight: bold;
  background-color:#1a92ce;
  border-radius:20px 20px 0 0;
  color: white;
}

.rs-day-new {
  font-size: 2rem;
  font-weight: bold;
}

.rs-year-new, .rs-week-new {
  font-size: 1rem;
}

.time-box div {
  font-size: 0.9em;
  color: #666666;/*XD2 text color*/
  text-align: left;

}

.employer-info {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  padding: 15px;
}

.employer-info div {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666666;/*XD2 text color*/
 
}

.note-section {
  border-bottom:1px solid #e1e1e1; ;
  text-align: center;
  padding-top: 20px; 
}

.note-section strong {
  font-size: 1.1rem;
  color: #666666; /*XD2 text color*/
}
.button-placement{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 0.9rem;
}
.rounded-border{
  border-radius: 20px !important;
}

@media screen and (max-width: 992px){
  .timing-employer-container{
    gap: 10px;
  }
  .employer-info, .date-time-container{
    flex: 1;
    width: 100%;
  }

}

